<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Login</h1>
    <form action="/user/login" method="post">

        <label for="">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="email" required name="email"><br>

        <label for="">Password&nbsp;</label>
        <input type="password" required name="password"><br>

        <button type="submit">Login</button>
    </form>
</body>
</html>