<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <style>
        body{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/user" method="post">
        <label for="">Full Name</label>
        <input type="text" required name="name"><br>

        <label for="">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="email" required name="email"><br>

        <label for="">Password&nbsp;</label>
        <input type="password" required name="password"><br>

        <button type="submit">Signup</button>
    </form>
</body>
</html>